---
layout: page
title: Tags
---

<ul class="tag_box inline">

  {% capture tags %}
    {% for tag in site.tags %}
      {{ tag[1].size | plus: 1000 }}~~{{ tag[0] }}~~{{ tag[1].size }}
    {% endfor %}
  {% endcapture %}
  {% assign sortedtags = tags | split:' ' | sort %}

  {% for tag in sortedtags reversed %}
      {% assign tagitems = tag | split: '~~' %}
      {% if tagitems[1] and tagitems[2] %}
        <li><a href="/tags/#{{ tagitems[1] }}">{{ tagitems[1] }} <sup>{{ tagitems[2] }}</sup></a></li>
      {% endif %}
  {% endfor %}

</ul>


{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    <!-- {--% include JB/pages_list %--} -->
    {% include pages.html %}
  </ul>
{% endfor %}
